@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    margin: 0%;
    font-family: 'Noto Sans JP', sans-serif;
    background-image: url("../img/cartographer.png");
    opacity: 1;
    transition: 1s opacity;
}

body.fade-out {
    opacity: 0;
    transition: none;
}

nav {
    background-color: rgb(68, 114, 62);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: block;
    z-index: 1;
}

nav a {
    color: rgb(255,255,255);
    display: inline-block;
    padding: 15px;
    text-decoration: none;
}

nav a:hover {
    background-color: rgb(20, 117, 173);
}

.container {
    display: block;
    position: relative;
    top: 40px;
}

.header {
    display: block;
    width: 100%;
    background:url("../img/header.jpg"), rgb(51,51,51);
    background-size: 100%;
    text-align: center;
    padding: 30px 0 30px 0;
    color: rgb(255,255,255);
    text-shadow: 2px 2px 4px rgb(51,51,51);
}

.header h1 {
    text-transform: uppercase;
    padding: 30px;
    padding-bottom: 0px;
    font-size: 3vw;
}

.header p {
    padding: 30px;
    padding-top: 0px;
}

.row {
    background-color: rgb(255,255,255);
    max-width: 70%;
    margin: auto;
    display: flex;
    overflow: hidden;
}

.bump-up {
    position: relative;
    top: -5px;
}

.bump-up:last-of-type {
    position: relative;
    top: -10px;
}

.col-1 {
    flex: 50%;
}

.col-1 img {
    width: 100%;
    object-fit: fill;
}

.col-2 {
    flex: 50%;
    position: relative;
    top: -5px;
}

.col-2 h1 {
    padding: 10px 0 0 20px;
    text-transform: uppercase;
}

.col-2 p {
    text-align: justify;
    padding: 0 30px 0 30px;
}

.col-2:hover {
    background-color: rgb(51,51,51,.1);
}

footer {
    display: block;
    height: 40px;
    line-height: 40px;
    position: relative;
    bottom: -5px;
    background-color: rgb(20, 117, 173);
    color: rgb(255,255,255);
    text-align: center;
    z-index: 0;
}

/* CONTACT BUTTON */
.popup-btn {
    position: fixed;
    bottom: 3.75vw;
    right: 1.75vw;
    width: 20vw;
    background-color: rgb(68, 114, 62);
    color: white;
    font-size: 1.3vw;
    font-family: 'Noto Sans JP', sans-serif;
    border: none;
    cursor: pointer;
    z-index: 1;
    -webkit-animation: movePopup 2s;
    animation: movePopup 2s;
}

@keyframes movePopup {
    from {right: -40vw;} 
    to {right: 1.75vw;}
}

@-webkit-keyframes movePopup {
    from {right: -40vw;} 
    to {right: 1.75vw;}
}

/* CONTACT FORM */
.form-popup {
    border: 3px solid rgb(51,51,51);
    z-index: 10;
    display: none;
    position: fixed;
    bottom: 3.75vw;
    right: 1.75vw;
    width: 30vw;
}

.form-container {
    max-width: 28vw;
    padding: 1vw;
    background-color: #fff;
}

.form-container h1 {
    font-size: 1.75vw;
    margin: 10px;
}

.form-container input[type=text],
.form-container textarea {
    font-family: 'Noto Sans JP', sans-serif;
    display: block;
    width: 90%;
    padding: 10px;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 10px;
    border: none;
    background: gainsboro;
    font-size: 1vw;
} 

button {
    display: block;
    font-weight: bold;
    padding: 5px;
    cursor: pointer;
    width: 90%;
    margin: auto;
    height: auto;
}

button:hover, .form-container .btn:hover {
    color: white;
    background-color: rgb(51,51,51);
}

.form-container .btn {
    background-color: #fff;
    color: rgb(51,51,51);
    border-color: rgb(51,51,51);
    margin-bottom: 5px;
}

.form-container .cancel {
    background-color: rgb(51,51,51);
    color: white;
}

.form-container .cancel:hover {
    color: #fff;
    background-color: darkred;
}

@media screen and (max-width: 900px) {
    .row {
        max-width: 100%;
    }
}