@import url('https://fonts.googleapis.com/css?family=Bebas+Neue|Open+Sans+Condensed:300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans Condensed', sans-serif;
}

body {
    font-size: 16pt;
}

a {
    text-decoration: none;
    color: #fff;
}

/* NAVIGATION BAR */
#navbar {
    height: 90px;
    background: #000 url("../img/navbar.jpg");
    color: #fff;
    padding: 15px;
    text-transform: uppercase;
    font-size: 16pt;
    display: block;
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

#navbar h1 {
    float: left;
    margin-top: 10px;
    margin-left: 20px;
    font-size: 28px;
}

#navbar ul {
    list-style: none;
    float: right;
}

#navbar ul li {
    float: left;
    padding: 15px;
    background-color: rgba(0, 0, 0, .7);
}

#navbar ul li a {
    display: block;
    text-align: center;
}

.current, #navbar ul li a:hover {
    color: orange;
    font-weight: bold;
}


/* DROPDOWN MENU FOR PROJECTS LINKS */
.sublist {
    width: 90px;
}

#arrow {
    display: inline-block;
    font-size: 10pt;
    position: relative;
    top: -1px;
    transition: transform .5s;
}

.sublist:hover #arrow {
    transform: rotate(-180deg);
}

.sublist-content {
    display: none;
}

.sublist:hover .sublist-content {
    height: auto;
}

.sublist-content a {
    margin-top: 10px;
    display: block;
}

/* MAIN BODY */
.content {
    display: block;
    z-index: 0;
    position: relative;
    top: 90px;
    width: 100%;
    min-height: 50vh;
}

h1 {
    text-align: center;
    font-size: 26pt;
    text-transform: uppercase;
}

/* HOME PAGE PROJECT PREVIEWS */
.project {
    width: 100%;
    padding: 20px;
    display: inline-block;
}

.project h2 {
    text-transform: uppercase;
}

.project p {
    margin-bottom: 25px;
}

.project a {
    color: #fff;
    background-color: #000;
    padding: 10px;
    float: right;
    margin: 8px;
}

.project a:hover {
    color: #000;
    background-color: orange;
}

.project img {
    width: 30%;
    margin: 20px;
    border: 1px solid black
}

/* ODD ROW PROJECT PREVIEWS */
.odd {
    background-color: rgb(223, 223, 223);
}

.odd img {
    float: left;
}

.odd .project-text {
    float: right;
    width: 50%;
}

/* EVEN ROW PROJECT PREVIEWS */
.even {
    background-color: #fff;
}

.even img {
    float: right;
}

.even .project-text {
    float: left;
    width: 50%;
}

/*BOTTOM AND FOOTER */

footer {
    background: #000;
    color: #fff;
    text-align: center;
    padding: 5px;
    bottom: 0px;
    width: 100%;
    display:block;
    height: 300px;
    position: relative;
    top: 90px;
}

footer img {
    max-width: 100%;
    height: 250px;
    margin-top: -5px;
    object-fit: cover;
}

@media screen and (max-width: 1440px) {
    #bottom-banner {
        height: 300px;
    }
}

@media screen and (max-width: 1024px) {
    #bottom-banner {
        height: 200px;
    }
}